<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sálvemos a las Nutrias</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <main class="container">

        <header>
            <h1>Ayúdanos a mantener (CRUD) las Nutrias</h1>
            <img src="../static/nutrias.png" alt="Salvemos a las nutrias!">
            <input type="button" class="btnAgregar" value="Agregar Nutria">
        </header>

        <section class="principal">

            <table class="grilla">
                <tr>
                    <th class="nombre">NOMBRE</th>
                    <th class="edad">EDAD</th>
                    <th class="peso">PESO (Kg)</th>
                    <th class="ubicacion">UBICACION</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Nutria 1</td>
                    <td>30</td>
                    <td>4,5</td>
                    <td><span>Australia</span></td>
                    <td class="editar">Editar</td>
                    <td class="eliminar">Eliminar</td>
                </tr>

            </table>

        </section>
    </main>


</body>

</html>